<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-language" content="en">
    <meta name="author" content="Bob Murry Shelton">
    <title>A mustelid</title>
    <link rel="stylesheet" href="../../css/fonts.css" />
    <link rel="stylesheet" href="../../css/schema.css" />
    <!-- <script src="dist/js/yourfile.js"></script> -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row-fluid">
        <div class="col12">
          <div class="panel panel-large panel-default">
            <div class="panel-body">
              <h1>Flavigula</h1>
              <p>Here lies Martes Flavigula, eternally beneath the splintered earth.</p> 
              <hr />
              <p>
                <a href="/static/blog/1" class="router-link-exact-active router-link-active" aria-current="page">blog</a> |
                <a href="/static/music/index.html" class="">music</a> |
                <a href="/static/poems/index.html" class="">poems</a> |
                <a href="/static/lakife/index.html" class="">lakife</a>
              </p> 
            </div>
          </div>
