<%= EEx.eval_file("./web/static/head-chota.eex", [title: title]) %>
<div class="card">
  <header>
    <h4>Poems -</h4>
  </header> 
  <div class="row">
    <%= for poem <- poems do %>
      <div class="col text-center">
        <a href="<%= poem.normalised_title %>.html"><%= poem.title %></a> (<%= poem.fecha %>)<br />
      </div>
    <% end %>
  </div>
</div>
<%= EEx.eval_file("./web/static/foot-chota.eex", []) %>
