# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
martenblog-*.tar

*~

/web/node_modules
/web/public/images/blog
/web/public/vendor
/web/public/css
/web/public/js
/web-old/node_modules
/web-old/public/images/blog
/web-old/public/vendor
/web-old/public/css
/web-old/public/js

