body, html {
    font-family: 'Vollkorn', Courier, serif, monospace;
}

@media all and (min-width 992px) {
    /*
    .hlavni {
	width: 900px;
	margin-left:auto;
	margin-right: auto;
    }
   */
    #martenblog-sidebar {
	font-size: 1em;
    }
    #entries {
	font-size: 1.5em;
	padding-left: 15px;
	line-height: 22px;
    }
}
@media all and (max-width 991px) {
    /*
    .hlavni {
	width: 100%;
    }
   */
    #martenblog-sidebar {
	font-size: 1em;
    }
    #entries {
	font-size: 2em;
	padding-left: 15px;
	line-height: 18px;
    }
}

a {
    color: #1e9090;
}

h2 {
    color: #442099;
}

.entry img {
    width: 100%;
}

.entry blockquote {
    /* font-size: smaller; */
}

img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.entry-topic {
    font-size: small;
    padding: 5px;
}
.expand-collapse {
    font-size: small;
    text-align: right;
}
.abdomen {
    margin-top: 32px;
}
