@font-face {
  font-family: "Atkinson-Hyperlegible";
  src: url("../fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
    url("../fonts/Atkinson-Hyperlegible-Regular-102.woff") format("woff"),
    url("../fonts/Atkinson-Hypelegible-Regular-102.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Atkinson-Hyperlegible";
  src: url("../fonts/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"),
    url("../fonts/Atkinson-Hyperlegible-Italic-102.woff") format("woff"),
    url("../fonts/Atkinson-Hypelegible-Italic-102.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Atkinson-Hyperlegible";
  src: url("../fonts/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
    url("../fonts/Atkinson-Hyperlegible-Bold-102.woff") format("woff"),
    url("../fonts/Atkinson-Hypelegible-Bold-102.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Atkinson-Hyperlegible";
  src: url("../fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2")
      format("woff2"),
    url("../fonts/Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff"),
    url("../fonts/Atkinson-Hypelegible-BoldItalic-102.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

body,
html {
  font-family: "Atkinson-Hyperlegible", "Vollkorn", Courier, serif, monospace;
}

a {
  color: #1e9090;
}

h2 {
  color: #442099;
}

.entry blockquote {
  /* font-size: smaller; */
  padding: 12px 12px 4px 12px;
  background-color: #eee;
}

img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.entry img {
  width: 100%;
  max-width: 100%;
}

.entry-topic {
  font-size: small;
  padding: 5px;
}
.expand-collapse {
  font-size: small;
  text-align: right;
}
.abdomen {
  margin-top: 32px;
}

.entry-card {
  margin-bottom: 20px;
  no-body: true;
}
.entry-card .entry {
}

@media only screen and (max-device-width: 640px) {
}
